**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Ignore large CSV files for Datasets that have online locations
SavedDatasets/**/CSV/**

